<div class="d-flex dashboard-container" style="height: 100%;">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; min-width: 18rem; margin-top: 20px; margin-left: 10px; max-height: 7rem;">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
          <h5 class="card-title">Dealers- 10</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 18rem; min-width: 18rem; margin-top: 20px; margin-left: 10px;max-height: 7rem;">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
          <h5 class="card-title">Customers- 100</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
    </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem; min-width: 18rem; margin-top: 20px; margin-left: 10px;max-height: 7rem;">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
          <h5 class="card-title">Dealer Stocks- 500</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
    </div>
</div>