<div style="padding: 20px;">
    <div class="d-flex justify-content-center">
        <h2>Add Dealer</h2>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input type="tel" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <textarea class="form-control" id="address" rows="3" [(ngModel)]="address" required></textarea>
        </div>
        <div class="form-group">
          <label for="shopAddress">Shop Address</label>
          <textarea class="form-control" id="shopAddress" rows="3" [(ngModel)]="shopAddress" required></textarea>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button  class="btn btn-danger" style="margin-right: 10px;" (click)="closeDialog()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

</div>
  